@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway", sans-serif;
}

p,
a {
  font-size: 22px;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: inline-block;
}

p {
  color: #434449;
}

.header {
  padding: 27px 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header > * {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__link {
  position: relative;
}

.header__link--active:before {
  content: "";
  display: block;
  width: 68px;
  height: 8px;
  border-radius: 0 0 100px 100px;
  background-color: #397eff;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.header a {
  margin-left: 100px;
}

.landing {
  background-image: url("/assets/imgs/landing.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%;
  padding: 300px 0 0 275px;
  margin-bottom: 100px;
}

.landing__title {
  font-size: 55px;
  color: #030668;
}

.landing__text {
  margin: 40px 0 30px;
  max-width: 452px;
}

.trust__title {
  font-size: 38px;
  font-weight: 800;
  color: #030668;
  text-align: center;
}

.trust__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trust__logos > img {
  margin: 0 15px;
}

.comment {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__textContainer {
  margin-left: 100px;
  text-align: right;
}

.comment__text {
  font-size: 38px;
  font-weight: 600;
  color: #030668;
}

.comment__text b {
  font-weight: 800;
}

.comment__signature {
  margin-top: 40px;
  font-size: 27px;
}

.comment__signature b {
  font-weight: 800;
  color: #030668;
}

.features {
  margin-top: 200px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__row h2 {
  font-size: 38px;
  font-weight: 800;
  color: #397eff;
  margin-bottom: 30px;
}

.features__row p {
  line-height: 1.73;
  margin-right: 160px;
}

.features__row:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 186px;
}

.features__row:last-child .features__text {
  margin-left: 50px;
}

.cta {
  height: 246px;
  background-color: #030668;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
}

.cta p {
  color: white;
  margin-right: 30px;
  font-size: 33px;
  font-weight: 800;
}

.btn {
  color: white;
  background-color: #397eff;
  padding: 25px 41px;
  border-radius: 35px 35px 0 35px;
}

.btn--cornerRight {
  border-radius: 35px 35px 35px 0;
}
/*# sourceMappingURL=main.css.map */