@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway", sans-serif;
}

p,
a {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45;
}

@media (max-width: 992px) {
  p,
  a {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  color: #434449;
}

.btn {
  color: white;
  background-color: #397eff;
  padding: 25px 41px;
  border-radius: 35px 35px 0 35px;
  font-size: 20px;
}

.btn--cornerRight {
  border-radius: 35px 35px 35px 0;
}

@media (max-width: 1200px) {
  .btn {
    font-size: 15px;
    padding: 15px 25px;
  }
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

@-webkit-keyframes fadeFromBottom {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeFromBottom {
  from {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes footer {
  to {
    bottom: -100px;
  }
}

@keyframes footer {
  to {
    bottom: -100px;
  }
}

.header {
  padding: 27px 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1200px) {
  .header {
    padding: 27px 27px;
  }
}

.header > * {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .header__logo-black {
    display: none;
  }
}

.header__logo-white {
  display: none;
}

@media (max-width: 768px) {
  .header__logo-white {
    display: block;
  }
}

@media (max-width: 768px) {
  .header__links {
    display: none;
  }
}

.header__link {
  position: relative;
}

.header__link--active:before {
  content: "";
  display: block;
  width: 68px;
  height: 8px;
  border-radius: 0 0 100px 100px;
  background-color: #397eff;
  margin: auto;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.header a {
  font-size: 18px;
  color: white;
  margin-left: 50px;
}

@media (max-width: 1200px) {
  .header a {
    font-size: 15px;
    margin-left: 20px;
  }
}

@media (max-width: 992px) {
  .header a {
    margin-left: 5px;
  }
}

.landing {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.landing__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  padding-left: 27px;
}

@media (max-width: 768px) {
  .landing__cta {
    padding-left: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: -200px;
  }
  .landing__cta .btn {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .landing__cta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing__title {
  font-size: 48px;
  color: #030668;
}

@media (max-width: 1200px) {
  .landing__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .landing__title {
    font-size: 28px;
    color: white;
    margin-bottom: 106px;
  }
}

.landing__text {
  margin: 30px 0;
  max-width: 452px;
}

@media (max-width: 768px) {
  .landing__text {
    padding: 0 70px 10px;
  }
}

@media (max-width: 768px) {
  .landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.landing__img img {
  width: 100%;
}

@media (max-width: 768px) {
  .landing__img--desktop {
    display: none;
  }
}

.landing__img--mobile {
  display: none;
}

@media (max-width: 768px) {
  .landing__img--mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .landing__img {
    z-index: -1;
    width: 100%;
  }
}

.trust__title {
  font-size: 33px;
  font-weight: 800;
  color: #030668;
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .trust__title {
    font-size: 20px;
  }
}

.trust__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trust__logos > div {
  opacity: 0;
  margin: 0 15px;
}

@media (max-width: 1450px) {
  .trust__logos > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    margin: 0 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .trust__logos > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.trust__logos > div img {
  max-width: 100%;
}

.trust__logos--show > div {
  -webkit-animation: fadeFromBottom 0.8s forwards;
          animation: fadeFromBottom 0.8s forwards;
}

.trust__logos--show > div:nth-child(1) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.trust__logos--show > div:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.trust__logos--show > div:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.trust__logos--show > div:nth-child(4) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.trust__logos--show > div:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.trust__logos--show > div:nth-child(6) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.comment {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: visible;
  }
}

.comment__avatarContainer {
  position: relative;
}

@media (max-width: 1200px) {
  .comment__avatarContainer {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 100px;
  }
}

.comment__shape {
  left: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .comment__shape {
    display: none;
  }
}

.comment__shape--mobile {
  display: none;
}

@media (max-width: 1200px) {
  .comment__shape--mobile {
    top: -20px;
    position: absolute;
    display: block;
  }
}

.comment__img {
  top: 60px;
  right: -40px;
  position: absolute;
  width: 237px;
}

@media (max-width: 1200px) {
  .comment__img {
    top: unset;
    right: unset;
    position: relative;
    width: 122px;
  }
}

.comment__textContainer {
  margin-left: 100px;
  text-align: right;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .comment__textContainer {
    padding-right: 20px;
    margin-left: 0;
    padding: 0 65px;
    max-width: 433px;
  }
}

.comment__text {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  color: #030668;
}

.comment__text b {
  font-weight: 800;
}

@media (max-width: 1450px) {
  .comment__text {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .comment__text {
    text-align: left;
    font-size: 18px;
  }
}

.comment__signature {
  margin-top: 40px;
  font-size: 27px;
}

.comment__signature b {
  font-weight: 800;
  color: #030668;
}

@media (max-width: 1450px) {
  .comment__signature {
    font-size: 15px;
  }
}

.comment__quoteMark {
  position: absolute;
  width: 46px;
}

@media (max-width: 1200px) {
  .comment__quoteMark {
    width: 34px;
  }
}

.comment__quoteMark:first-of-type {
  top: -27px;
  left: -32px;
}

@media (max-width: 1200px) {
  .comment__quoteMark:first-of-type {
    top: -37px;
    left: unset;
    right: 0;
  }
}

.comment__quoteMark:last-of-type {
  bottom: -30px;
  right: -75px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .comment__quoteMark:last-of-type {
    right: unset;
    left: 0;
    bottom: -40px;
  }
}

.features {
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.features__row-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 1200px) {
  .features__row-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__row-offer > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.features__row-offer p {
  margin-right: 130px;
}

@media (max-width: 1200px) {
  .features__row-offer p {
    margin-right: 0;
  }
}

.features__row-manage {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features__row-manage > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.features__row-manage img {
  max-width: 868px;
}

@media (max-width: 1200px) {
  .features__row-manage img {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    margin-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .features__row-manage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
}

.features__row-manage .features__text {
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .features__row-manage .features__text {
    padding-right: 0;
  }
}

.features__text {
  padding: 0 0 0 20px;
}

@media (max-width: 1200px) {
  .features__text {
    padding: 0 50px;
  }
}

.features h2 {
  font-size: 35px;
  font-weight: 800;
  color: #397eff;
  margin-bottom: 30px;
}

@media (max-width: 1450px) {
  .features h2 {
    font-size: 25px;
  }
}

.features p {
  line-height: 1.73;
}

.features__firstImg {
  max-width: 639px;
}

@media (max-width: 1200px) {
  .features__firstImg {
    display: none;
  }
}

.features__shape {
  position: absolute;
  right: -260px;
  top: 120px;
  z-index: -1;
}

@media (max-width: 1200px) {
  .features__shape {
    display: none;
  }
}

.features__slider {
  display: none;
}

@media (max-width: 1200px) {
  .features__slider {
    display: block;
  }
}

.features__slider__navContainer {
  display: none !important;
  margin: 25px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__slider__navContainer button {
  width: 10px;
  height: 10px;
  opacity: 0.5;
  border-radius: 2px;
  background-color: #397eff;
  border: none;
  outline: none;
}

.features__slider__navContainer button:not(:last-child) {
  margin-right: 33px;
}

.features__slider__navContainer button.tns-nav-active {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  opacity: 1;
}

@media (max-width: 1200px) {
  .features__slider__navContainer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.cta {
  height: 246px;
  background-color: #030668;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
}

@media (max-width: 1450px) {
  .cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 40px 20px 50px;
    margin-top: 116px;
  }
}

.cta p {
  color: white;
  margin-right: 30px;
  font-size: 33px;
  font-weight: 800;
}

@media (max-width: 1450px) {
  .cta p {
    font-size: 18px;
    margin: 0 0 34px;
    text-align: center;
  }
}

.why {
  text-align: center;
  padding: 0 20px;
}

.why__points-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .why__points-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why__point {
  margin-bottom: 60px;
}

@media (max-width: 1200px) {
  .why__point img {
    width: 63px;
  }
}

.why__title {
  margin: 193px 0 140px;
  color: #397eff;
  font-size: 35px;
  line-height: 1.24;
}

@media (max-width: 1200px) {
  .why__title {
    margin: 120px 0 60px;
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .why__title {
    text-align: left;
  }
}

.why__text {
  margin-top: 40px;
  font-size: 28px;
  line-height: 1.39;
}

@media (max-width: 1200px) {
  .why__text {
    font-size: 22px;
    margin-top: 10px;
  }
}

.why__text--italic {
  font-size: 20px;
  margin-top: 10px;
}

.partner {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1450px) {
  .partner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.partner img {
  margin-right: 110px;
  max-width: 833px;
  width: 100%;
}

@media (max-width: 1450px) {
  .partner img {
    right: 40px;
    position: relative;
  }
}

.partner__title {
  font-size: 35px;
  color: #030668;
}

@media (max-width: 1450px) {
  .partner__title {
    padding: 0 64px;
    margin-top: 54px;
  }
}

.partner__text {
  margin: 10px 0 45px;
  padding: 0 20px 0;
}

@media (max-width: 1450px) {
  .partner__text {
    padding: 0 64px;
    margin: 30px 0 0;
  }
}

@media (max-width: 1450px) {
  .partner .btn {
    display: none;
  }
}

.footer {
  margin-top: 133px;
  padding: 0 20px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__row:last-child {
  margin: 115px 0 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__row:last-child img {
  margin-right: 30px;
}

@media (max-width: 992px) {
  .footer__row:last-child img {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .footer__row:last-child {
    text-align: center;
    margin: 80px 0 32px;
  }
}

@media (max-width: 992px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__app {
  margin-top: 30px;
}

@media (max-width: 576px) {
  .footer__app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__app img {
    margin-bottom: 33px;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .footer__col:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__col:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 992px) {
  .footer__col:last-child {
    margin-top: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 992px) {
  .footer__col {
    margin-top: 30px;
  }
}

.footer__link {
  color: #434449;
}

.footer__logo--zepros {
  width: 86px;
  margin: 11px 0;
}

.footer__logo--cheque {
  width: 101px;
}

.footer__underligned {
  border-bottom: 1px solid rgba(67, 68, 73, 0.23);
  padding-bottom: 8px;
}

.footer__br {
  display: none;
}

@media (max-width: 992px) {
  .footer__br {
    display: block;
  }
}

.footer span {
  display: inline-block;
}

@media (max-width: 992px) {
  .footer span {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */