.header {
  padding: 27px 93px;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include xl {
    padding: 27px 27px;
  }
  & > * {
    flex-direction: row;
  }
  &__links {
    @include md {
      display: none;
    }
  }
  &__link {
    position: relative;
    &--active {
      &:before {
        content: "";
        display: block;
        width: 68px;
        height: 8px;
        border-radius: 0 0 100px 100px;
        background-color: $primary;
        margin: auto;
        position: absolute;
        top: 0;
        transform: translateX(10px);
      }
    }
  }
  a {
    font-size: 18px;
    color: white;
    margin-left: 50px;
    @include xl {
      font-size: 15px;
      margin-left: 20px;
    }
    @include lg {
      margin-left: 5px;
    }
  }
}

.landing {
  margin-bottom: 100px;
  display: flex;
  & > * {
    flex: 0 1 50%;
  }
  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    padding-left: 27px;
    @include md {
      padding-left: 0;
      flex-grow: 1;
      margin-top: -200px;
      .btn {
        margin: 0 auto;
      }
    }
  }
  &__cta-wrapper {
    @include md {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    font-size: 48px;
    color: $secondary;
    @include xl {
      font-size: 28px;
    }
    @include md {
      font-size: 28px;
      color: white;
      margin-bottom: 106px;
    }
  }
  &__text {
    margin: 30px 0;
    max-width: 452px;
    @include md {
      padding: 0 70px 10px;
    }
  }
  @include md {
    flex-direction: column-reverse;
  }
  &__img {
    img {
      width: 100%;
    }
    &--desktop {
      @include md {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include md {
        display: block;
      }
    }
    @include md {
      z-index: -1;
      width: 100%;
    }
  }
}

.trust {
  &__title {
    font-size: 33px;
    font-weight: 800;
    color: $secondary;
    text-align: center;
    margin-bottom: 40px;
    @include md {
      font-size: 20px;
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    & > div {
      margin: 0 15px;
      @include md {
        flex: 0 0 50%;
        margin: 0 0 50px;
        display: flex;
        justify-content: center;
        padding: 0 15px;
        box-sizing: border-box;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.comment {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  @include xl {
    flex-direction: column;
    align-items: center;
  }
  &__avatarContainer {
    position: relative;
  }
  &__shape {
    left: 0;
    z-index: -1;
    @include xl {
      display: none;
    }
  }
  &__img {
    top: 60px;
    right: -40px;
    position: absolute;
    width: 237px;
    @include xl {
      // left: 200px;
    }
    @include md {
      width: 122px;
    }
  }
  &__textContainer {
    margin-left: 100px;
    text-align: right;
    @include xl {
      margin-left: 0;
      padding: 0 65px;
      max-width: 433px;
    }
  }
  &__text {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: $secondary;
    b {
      font-weight: 800;
    }
    @include xl {
      text-align: left;
      font-size: 18px;
    }
  }
  &__signature {
    margin-top: 40px;
    font-size: 27px;
    b {
      font-weight: 800;
      color: $secondary;
    }
    @include xl {
      font-size: 15px;
    }
  }
  &__quoteMark {
    position: absolute;
    width: 46px;
    @include xl {
      width: 34px;
    }
    &:first-of-type {
      top: -27px;
      left: -32px;
      @include xl {
        top: -37px;
        left: unset;
        right: 0;
      }
    }
    &:last-of-type {
      bottom: -30px;
      right: -75px;
      transform: rotate(180deg);
      @include xl {
        right: unset;
        left: 0;
        bottom: -40px;
      }
    }
  }
}

.features {
  margin-top: 200px;
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
      flex: 0 1 50%;
    }
    img {
      width: 100%;
    }
    h2 {
      font-size: 35px;
      font-weight: 800;
      color: $primary;
      margin-bottom: 30px;
    }
    p {
      line-height: 1.73;
      margin-right: 160px;
    }
    &:last-child {
      flex-direction: row-reverse;
      margin-top: 186px;
      .features__text {
        margin-left: 50px;
      }
      img {
        // max-width: 868px;
      }
    }
  }
}

.cta {
  height: 246px;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  p {
    color: white;
    margin-right: 30px;
    font-size: 33px;
    font-weight: 800;
  }
}
